<head>
  <meta charset="utf-8">
  <title>test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <!-- sortable.js -->
  <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
  <!-- vue.draggable -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>

</head>
<div id="app">
  <draggable :list="items" class="dragarea">
    <div v-for="item in items" class="item">

      {{item.text}}
    </div>
  </draggable>

</div>
<script>
  var main = new Vue({
    el: '#app',
    data: {
      items: [{
        text: "aa"





      }, {
        text: 'list2'
      }, {
        text: 'list3'
      }, {
        text: 'list4'
      }, {
        text: 'list5'
      }, ]
    }
  });
</script>



<h1>名刺一覧</h1>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'btn btn_primary'%> |
<%= link_to '名刺入力', new_meishi_path, class:'btn btn_primary'%>

<br><br><br>

<form name="meishi_list">

  <div class="container">
    <ul class="nav nav-pills nav-fill ">
      <li class="nav-item">
        <a class="nav-link " href="#">アカウント管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SNS登録</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">使い方ガイド</a>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </li>
    </ul>

    <br><br><br>

    <div class="container">

      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to '名刺入力', new_meishi_path, class:'btn btn_primary'%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">編集</a>

          <input type="submit" value="送信する">


        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">削除</a>
          <input type="submit" id="chan">

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">入れ替え</a>
        </li>
        　
      </ul>


    </div>

    <br><br><br>

    <div class="row">

      <% @meishis.each do |meishi|%>

      <div class="col-md-3 ">
        <div id="list">
          <%= link_to '削除', meishi_path(meishi), method: :delete %> ------------

          <%= link_to '編集', "/meishis/#{meishi.id}/#{meishi.key}/#edit", method: :edit %>-----------
        
            <input type="radio"  name="meishi_radiobox" value="<%= meishi.id %>">



</form>



<svg id="レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.74 212.81">
  <defs>
    <style>
      .cls-1 {
        fill: #b5b5b6;
      }

      .cls-2 {
        font-size: 19px;
      }

      .cls-2,
      .cls-3,
      .cls-4 {
        fill: #231815;
      }

      .cls-2,
      .cls-3 {
        font-family: KozGoPr6N-Regular-83pv-RKSJ-H, Kozuka Gothic Pr6N;
      }

      .cls-3 {
        font-size: 12px;
      }

      .cls-5 {
        fill: #c30d23;
      }
    </style>
  </defs>
  <title>テスト名刺２</title>
  <rect class="cls-1" x="-2.78" width="266.74" height="158.83" transform="translate(263.96 212.81) rotate(180)" /><text
    class="cls-2" transform="translate(20.84 88.85)">
    <%= meishi.name %></text><text class="cls-2" transform="translate(149.12 90.6)">
    <%= meishi.intro %></text><text class="cls-2" transform="translate(20.84 176.93)">アイ<tspan x="0" y="18">コン</tspan>
  </text><text x="2.78" y="53.98" /><text class="cls-3" transform="translate(120.46 116.11)">テストテストテスト</text>
  <rect class="cls-4" x="201.54" y="167.14" width="39.15" height="34.25" />
  <rect class="cls-5" x="97.21" y="164.35" width="42.12" height="32.5" /><text x="2.78" y="53.98" /><text x="2.78"
    y="53.98" /><text x="2.78" y="53.98" />
</svg>

</div>
</div>
</div>

<% end %>
<script>
  var btn = document.getElementById('chan');

  btn.addEventListener('click', function () {

  <% @meishis.each do |meishi|%>
        if (document.meishi_list.meishi_radiobox.value=="<%= meishi.id %>") {
          alert("<%= meishi.id %>ばいばい");}        
   <% end %>
    })
</script>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>ボタン</th>
      <th>ボタン</th>
    </tr>
  </thead>
  <% @meishis.each do |meishi|%>
  <tr>
    <th>
      <%= meishi.id %>
    </th>
    <th>
      <%= link_to meishi.name, "/meishis/#{meishi.id}/#{meishi.key}/" %>
    </th>
    <th>
      <%= link_to '削除', meishi_path(meishi.id,meishi.key), method: :delete %>
    </th>
    <th>
      <%= link_to '編集', "/meishis/#{meishi.id}/#{meishi.key}/#edit", method: :edit %>
    </th>
  </tr>
  <% end %>
</table>

<br><br><br><br><br><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>intro</th>
      <th>account1</th>
      <th>account2</th>
      <th>account3</th>
      <th>account4</th>
      <th>key</th>
      <th>created_user</th>
    </tr>
  </thead>
  <% @meishis.each do |meishi|%>
  <tr>
    <th>
      <%= meishi.id %>
    </th>
    <th>
      <%= meishi.name %>
    </th>
    <th>
      <%= meishi.intro %>
    </th>
    <th>
      <%= meishi.account1_info %>
    </th>
    <th>
      <%= meishi.account2_info %>
    </th>
    <th>
      <%= meishi.account3_info %>
    </th>
    <th>
      <%= meishi.account4_info %>
    </th>
    <th>
      <%= meishi.key %>
    </th>
    <th>
      <%= link_to '編集', "/meishis/#{meishi.id}/#{meishi.key}/#edit", method: :edit %>
    </th>
    <th>
      <%= link_to '削除', meishi_path(meishi), method: :delete %>
    </th>

  </tr>
  <th>
  </th>
  </tr>
  <% end %>
</table>
</div>