<h1>名刺一覧</h1>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'btn btn_primary'%> |
<%= link_to '名刺入力', new_meishi_path, class:'btn btn_primary'%>

<br><br><br><br><br><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>ボタン</th>
      <th>ボタン</th>
    </tr>
  </thead>
  <% @meishis.each do |meishi|%>
  <tr>
    <th>
      <%= meishi.id %>
    </th>
    <th>
      <%= link_to meishi.name, "/meishis/#{meishi.id}/#{meishi.url}/" %>
    </th>
    <th>
      <%= link_to '削除', meishi_path(meishi.id,meishi.url), method: :delete %>
    </th>
    <th>
      <%= link_to '編集', "/meishis/#{meishi.id}/#{meishi.url}/#edit", method: :edit %>
    </th>
  </tr>
  <% end %>
</table>

<br><br><br><br><br><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>created_at</th>
      <th>name</th>
      <th>intro</th>
      <th>line</th>
      <th>insta</th>
      <th>twitter</th>
      <th>facebook</th>
      <th>url</th>
      <th>ボタン</th>
    </tr>
  </thead>
  <% @meishis.each do |meishi|%>
  <tr>
    <th>
      <%= meishi.id %>
    </th>
    <th>
      <%= meishi.created_at.in_time_zone('Tokyo') %>
    </th>
    <th>
      <%= link_to meishi.name, "/meishis/#{meishi.id}/#{meishi.url}/" %>
    </th>
    <th>
      <%= meishi.intro %>
    </th>
    <th>
      <%= meishi.line %>
    </th>
    <th>
      <%= meishi.insta %>
    </th>
    <th>
      <%= meishi.twitter %>
    </th>
    <th>
      <%= meishi.facebook %>
    </th>
    <th>
      <%= meishi.url %>
    </th>
    
    <th>
      <%= link_to '削除', meishi_path(meishi), method: :delete %>
    </th>
  </tr>
  <% end %>
</table>