<h1> 名刺の新規登録</h1>
<%= link_to '一覧', meishis_path, class: 'nav-link' %>

<%= form_with model: @meishi, local: true do |f| %>
 <div class="form-group"></div>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', id: 'meishi_name' %>
 <div class="form-group"></div>
  <%= f.label :intro %>
  <%= f.text_field :intro, class: 'form-control', id: 'meishi_intro' %>
  <div class="form-group"></div>
  <%= f.label :アカウント1 %>
  <%= f.text_field :account1_info, class: 'form-control', id: 'meishi_line' %>
  <div class="form-group"></div>
  <%= f.label :アカウント2 %>
  <%= f.text_field :account2_info, class: 'form-control', id: 'meishi_insta' %>
  <div class="form-group"></div>
  <%= f.label :アカウント3 %>
  <%= f.text_field :account3_info, class: 'form-control', id: 'meishi_twitter' %>
  <div class="form-group"></div>
  <%= f.label :アカウント4 %>
  <%= f.text_field :account4_info, class: 'form-control', id: 'meishi_facebook' %>
 <%= f.submit nil, class: 'btn btn-primary' %>
 <% end %>