<h1> 名刺の新規登録</h1>
<%= link_to '一覧', meishis_path, class: 'nav-link' %>

<%= form_with model: @meishi, local: true do |f| %>
<svg id="レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.74 212.81"><defs><style>.cls-1{fill:#b5b5b6;}.cls-2{font-size:19px;}.cls-2,.cls-3,.cls-4{fill:#231815;}.cls-2,.cls-3{font-family:KozGoPr6N-Regular-83pv-RKSJ-H, Kozuka Gothic Pr6N;}.cls-3{font-size:12px;}.cls-5{fill:#c30d23;}</style></defs><title>テスト名刺２</title><rect class="cls-1" x="-2.78" width="266.74" height="158.83" transform="translate(263.96 212.81) rotate(180)"/><text class="cls-2" transform="translate(20.84 88.85)"><%= @meishi.name %></text><text class="cls-2" transform="translate(149.12 90.6)"> <%= @meishi.intro %></text><text class="cls-2" transform="translate(20.84 176.93)">アイ<tspan x="0" y="18">コン</tspan></text><text x="2.78" y="53.98"/><text class="cls-3" transform="translate(120.46 116.11)">テストテストテスト</text><rect class="cls-4" x="201.54" y="167.14" width="39.15" height="34.25"/><rect class="cls-5" x="97.21" y="164.35" width="42.12" height="32.5"/><text x="2.78" y="53.98"/><text x="2.78" y="53.98"/><text x="2.78" y="53.98"/></svg>

 <div class="form-group"></div>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', id: 'meishi_name' %>
 <div class="form-group"></div>
  <%= f.label :intro %>
  <%= f.text_field :intro, class: 'form-control', id: 'meishi_intro' %>
  <div class="form-group"></div>
  <%= f.label :アカウント1 %>
  <%= f.text_field :account1_info, class: 'form-control', id: 'meishi_line' %>
  <div class="form-group"></div>
  <%= f.label :アカウント2 %>
  <%= f.text_field :account2_info, class: 'form-control', id: 'meishi_insta' %>
  <div class="form-group"></div>
  <%= f.label :アカウント3 %>
  <%= f.text_field :account3_info, class: 'form-control', id: 'meishi_twitter' %>
  <div class="form-group"></div>
  <%= f.label :アカウント4 %>
  <%= f.text_field :account4_info, class: 'form-control', id: 'meishi_facebook' %>
 <%= f.submit nil, class: 'btn btn-primary' %>
 <% end %>