

  <head>
  <%= javascript_pack_tag 'hello_vue' %>

  </head>


<h2>名刺の表示のテスト <%= current_user.id %> </h2>
<% if current_user.id==@meishi.created_user %>
<h3> あなたは名刺の作者です。 </h3>
<% else %>
<h3> あなたは名刺の作者ではない。 </h3>
<% end %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>intro</th>
      <th>account1</th>
      <th>account2</th>
      <th>account3</th>
      <th>account4</th>
      <th>key</th>
      <th>created_user</th>
      </tr>
  </thead>
    <tr>
      <th><%= @meishi.id %></th>
      <th><%= @meishi.name %></th>
      <th><%= @meishi.intro %></th>
      <th><%= @meishi.account1_info %></th>
      <th><%= @meishi.account2_info %></th>
      <th><%= @meishi.account3_info %></th>
      <th><%= @meishi.account4_info %></th>
      <th><%= @meishi.key %></th>
      </tr>
    <tr>
      <th><%= @meishi.id %>-img</th>
      <th></th>
      <th></th>
      <th vertical-align="middle"><a href="<%= @meishi.account1_info %>"><img src="<%= @meishi.account1_photo %>"></a></th>
      <th vertical-align="middle"><a href="<%= @meishi.account2_info %>"><img src="<%= @meishi.account2_photo %>"></a></th>
      <th vertical-align="middle"><a href="<%= @meishi.account3_info %>"><img src="<%= @meishi.account3_photo %>"></a></th>
      <th vertical-align="middle"><a href="<%= @meishi.account4_info %>"><img src="<%= @meishi.account4_photo %>"></a></th>
      <th><%= @meishi.created_user %></th>
    </tr>
    <tr>
      <th><%= @meishi.id %>-link</th>
      <th></th>
      <th></th>
      <th vertical-align="middle"><a href="<%= @meishi.account1_info %>"><%= @meishi.account1_info %></a></th>
      <th vertical-align="middle"><a href="<%= @meishi.account2_info %>"><%= @meishi.account2_info %></a></th>
      <th vertical-align="middle"><a href="<%= @meishi.account3_info %>"><%= @meishi.account3_info %></a></th>
      <th vertical-align="middle"><a href="<%= @meishi.account4_info %>"><%= @meishi.account4_info %></a></th>
    </tr>
    <tr>
      <th><%= @meishi.id %>-both</th>
      <th></th>
      <th></th>
      <th vertical-align="middle"><a href="<%= @meishi.account1_info %>"><img src="<%= @meishi.account1_photo %>"></a><%= @meishi.account1_info %></th>
      <th vertical-align="middle"><a href="<%= @meishi.account2_info %>"><img src="<%= @meishi.account2_photo %>"></a><%= @meishi.account2_info %></th>
      <th vertical-align="middle"><a href="<%= @meishi.account3_info %>"><img src="<%= @meishi.account3_photo %>"></a><%= @meishi.account3_info %></th>
      <th vertical-align="middle"><a href="<%= @meishi.account4_info %>"><img src="<%= @meishi.account4_photo %>"></a><%= @meishi.account4_info %></th>
    </tr>
</table>

<%= link_to '一覧に戻る', meishis_path %>
<div class="container">

  <div class="row">
    <!-- left -->
    <div class="d-inline-block p-2 bg-primary text-white col-md-3 text-center">
      <!-- パネルで囲む -->
      <div img="">



      </div>
      <%= @meishi.name %>


    </div>
    <div class="col-md-9 d-inline-block p-2 bg-success text-white text-center">

      <%= @meishi.intro %>
    </div>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="d-inline-block p-2 bg-info text-white col-md-12">

      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center"><a href="<%= @meishi.account1_info %>"><img src="<%= @meishi.account1_photo %>">
              <%= @meishi.account1_info %></a></div>
          <div class="col-md-3 text-center"><a href="<%= @meishi.account2_info %>"><img src="<%= @meishi.account2_photo %>">
              <%= @meishi.account2_info %></a></div>
          <div class="col-md-3 text-center"><a href="<%= @meishi.account3_info %>"><img src="<%= @meishi.account3_photo %>">
              <%= @meishi.account3_info %></a></div>
          <div class="col-md-3 text-center"><a href="<%= @meishi.account4_info %>"><img src="<%= @meishi.account4_photo %>">
              <%= @meishi.account4_info %></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="d-inline-block p-2 bg-info text-white col-md-12 text-center">
      <%= qrcode_tag meishis_show_path, module_size: 5 %><br>
    </div>
  </div>
</div>
</div>

<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
