<h2>名刺の表示のテスト <%= current_user.id %> </h2>
<% if current_user.id==@meishi.created_user %>
<h3> あなたは名刺の作者です。 </h3>
<% else %>
<h3> あなたは名刺の作者ではない。 </h3>
<% end %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>intro</th>
      <th>line</th>
      <th>insta</th>
      <th>twitter</th>
      <th>facebook</th>
      <th>created_user</th>
      </tr>
  </thead>
    <tr>
      <th><%= @meishi.id %></th>
      <th><%= @meishi.name %></th>
      <th><%= @meishi.intro %></th>
      <th><%= @meishi.line %></th>
      <th><%= @meishi.insta %></th>
      <th><%= @meishi.twitter %></th>
      <th><%= @meishi.facebook %></th>
      <th><%= @meishi.created_user %></th>
    </tr>
    <tr>
      <th><%= @meishi.id %>-img</th>
      <th></th>
      <th></th>
      <th text-align center><a href="https://line.me/<%= @meishi.line %>"><img src="https://img.icons8.com/color/25/000000/line-me.png"></a></th>
      <th vertical-align="middle"><a href="https://instalgram.com/<%= @meishi.insta %>"><img src="https://img.icons8.com/color/25/000000/instagram-new.png"></a></th>
      <th vertical-align="middle"><a href="https://twitter.com/<%= @meishi.twitter %>"><img src="https://img.icons8.com/color/25/000000/twitter-squared.png"></a></th>
      <th vertical-align="middle"><a href="https://facebook.com/<%= @meishi.facebook %>"><img src="https://img.icons8.com/color/25/000000/facebook.png"></a></th>
      <th><%= @meishi.created_user %></th>
    </tr>
    <tr>
      <th><%= @meishi.id %>-link</th>
      <th></th>
      <th></th>
      <th vertical-align="middle"><a href="https://line.me/<%= @meishi.line %>"><%= @meishi.line %></a></th>
      <th vertical-align="middle"><a href="https://instalgram.com/<%= @meishi.insta %>"><%= @meishi.insta %></a></th>
      <th vertical-align="middle"><a href="https://twitter.com/<%= @meishi.twitter %>"><%= @meishi.twitter %></a></th>
      <th vertical-align="middle"><a href="https://facebook.com/<%= @meishi.facebook %>"><%= @meishi.facebook %></a></th>
    </tr>
    <tr>
      <th><%= @meishi.id %>-both</th>
      <th></th>
      <th></th>
      <th vertical-align="middle"><a href="https://line.me/<%= @meishi.line %>"><img src="https://img.icons8.com/color/25/000000/line-me.png"><%= @meishi.line %></a></th>
      <th vertical-align="middle"><a href="https://instalgram.com/<%= @meishi.insta %>"><img src="https://img.icons8.com/color/25/000000/instagram-new.png"><%= @meishi.insta %></a></th>
      <th vertical-align="middle"><a href="https://twitter.com/<%= @meishi.twitter %>"><img src="https://img.icons8.com/color/25/000000/twitter-squared.png"><%= @meishi.twitter %></a></th>
      <th vertical-align="middle"><a href="https://facebook.com/<%= @meishi.facebook %>"><img src="https://img.icons8.com/color/25/000000/facebook.png"><%= @meishi.facebook %></a></th>
    </tr>
</table>

<%= qrcode_tag meishis_show_path, module_size: 5 %><br>

<%= link_to '一覧に戻る', meishis_path %><br>
"<%= current_user %>"<br>
"<%= user_session %>"<br>
"<%= user_signed_in? %>"<br>
<%= link_to '一覧に戻る', meishis_path %>
<div class="container">

  <div class="row">
    <!-- left -->
    <div class="d-inline-block p-2 bg-primary text-white col-md-3 text-center">
      <!-- パネルで囲む -->
      <div img="">



      </div>
      <%= @meishi.name %>


    </div>
    <div class="col-md-9 d-inline-block p-2 bg-success text-white text-center">

      <%= @meishi.intro %>
    </div>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="d-inline-block p-2 bg-info text-white col-md-12">

      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center"><a href="https://line.me/<%= @meishi.line %>"><img src="https://img.icons8.com/color/25/000000/line-me.png">
              <%= @meishi.line %></a></div>
          <div class="col-md-3 text-center"><a href="https://instalgram.com/<%= @meishi.insta %>"><img src="https://img.icons8.com/color/25/000000/instagram-new.png">
              <%= @meishi.insta %></a></div>
          <div class="col-md-3 text-center"><a href="https://twitter.com/<%= @meishi.twitter %>"><img src="https://img.icons8.com/color/25/000000/twitter-squared.png">
              <%= @meishi.twitter %></a></div>
          <div class="col-md-3 text-center"><a href="https://facebook.com/<%= @meishi.facebook %>"><img src="https://img.icons8.com/color/25/000000/facebook.png">
              <%= @meishi.facebook %></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="d-inline-block p-2 bg-info text-white col-md-12 text-center">
      <%= qrcode_tag meishis_show_path, module_size: 5 %><br>
    </div>
  </div>
</div>
</div>